* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: sans-serif;
    background-image: url('fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    margin: 150px auto;
    width: 90%; 
}

.plan {
    width: 45%;
    background: rgba(255, 255, 255, 0.8); 
    border: 2px solid #F5D915;
    border-radius: 10px;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-weight: 700;
    color: #000;
}

p {
    font-weight: 500;
    margin: 20px 0;
    color: #333;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FCF68C;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #FDFCC4;
}

.seta {
    position: absolute;
    top: 20px;
    left: 20px;
}
